# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Idea #
/.idea/
*.iml

# Gradle #
/.gradle/
/gradle/
/out/
/gradlew
/gradlew.bat
build/

# Node.js #
**/node_modules/
npm-*.log
**/generated